.box {
    display: inline-block;
    padding: 1em;
    margin: 0 2em;
}

#bar {
    margin: 1rem 4rem;
    color: #1b1918;
    font-style: italic;
}

#bar #sections {
    text-align: right;
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
}

#bar h2 {
    margin: 0;
    font-size: 1.6em;
    font-weight: 400;
    float: left;
    margin-top: 0.2em;
    padding-right: 1em;
    border-bottom: 0.5em solid white;
}

#bar a {
    padding: 0.5em;
    margin: 0.5em;
}

#bar hr {
    display: none;
}

#bar a:hover {
    color: white;
    background-color: #0C7670;
}

body {
    font-family: 'Fira Sans', 'Roboto', 'Open Sans', 'Noto Sans JP', sans-serif;
    /* todo font face */
    font-weight: 200;
    color: #38313e;
    font-size: 1.15em; /* ~18px for my resolution, maybe use media queries here */
}

#page {
    background-color:  white;
    max-width: 56rem;
    margin: 0 auto;
    line-height: 1.2em;
    /*overflow: hidden;*/
}

::selection {
    color: white;
    background-color: #0C7670;
}

#about {
    margin: 0 auto;
    max-width: 48rem;
}

h1 {
    text-align: center;
    line-height: 110%;
    font-size: 300%;
    padding: 0.5em 0;
    margin: 0;
    margin-bottom: 1rem;
    color: #37382E;
}

.lead {
    color: #0C7670;
}

h5.lead {
    font-weight: 600;
    font-size: 120%;
    margin: 0.2em 0;
}

#about p {
    margin: 1.2em 0;
}

.illustration-container {
    text-align: center;
}

.illustration {
    margin: 20 auto;
    font-size: 85%;
    font-style: italic;
    display: inline-block;
}

.illustration-img {
    max-width: 100%;
}

.illustration-caption {
    margin: 0.3em 0;
    text-align: right;
    color: #68615e;
}

.remark {
    font-style: italic;
    color: #68615e;
}

.contents {
    border: 0.4em double #68615e;
    text-align: center;
}

#about .contents {
    margin-top: -0.6em;
}

.contents br {
    display: none;
}

.contents-item {
    font-style: italic;
    font-size: 1.1em;
    color: #38313e;
    display: inline-block;
    margin: 0.4em 0.2em;
    border: 0.2em solid transparent;
}

.contents-item:hover {
    color: white;
    background-color: #0C7670;
    border: 0.2em solid #0C7670;
    text-decoration: underline;
}

#flow {
    margin: 5pt 0;
    color: #0C4946;
    font-size: 1.05em;
    overflow: visible;
    line-height: 1.3em;
}

.note {
    color: #0C4946;
    padding: 0 1em;
    margin: 1.2rem 0;
}

.note p {
    margin: 0 auto;
    max-width: 34rem;
}

.note blockquote {
    font-size: 125%;
    max-width: 100%-2rem;
    margin-left: 20%;
    transform: translateX(1rem);
    margin-right: 0;
    line-height: 120%;
}

/*
.note:nth-child(even) {
    background-color: #fbfcfa;
}
*/

h2.subtitle {
    text-align: center;
    font-size: 150%;
    color: #0C4946;
    margin: 1.2rem 0;
    border: 0.5em solid transparent;
}

#navigation {
    text-align: center;

    /* position */
    position: fixed;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0.8rem;
    max-width: 10rem;
    
    /* visibility */
    visibility: hidden;
    opacity: 0;
    
    /* smooth transition */
    -webkit-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */

    -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */

    /* created using https://matthewlein.com/tools/ceaser */
}

#navigation .jump {
    font-size: 200%;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

#navigation .jump:hover {
    border-radius: 0.2em;
}

#navigation .contents {
    font-size: 0.9rem;
}

#navigation .contents br {
    display: block;
}

#navigation .contents-item {
    margin: 0.2em;
}

#progress {
    position: fixed;
    width: 0;
    height: 0.3rem;
    top: 0;
    left: 0;
    background-color: #0C7670;
}

.strong-remark {
    font-style: italic;
    font-weight: 600;
    text-align: center;
}

p.strong-remark {
    margin-top: -0.5em;
}

#footer {
    max-width: 56rem;
    margin: 0 auto;
    margin-top: 2em;
    font-size: 1.2rem;
}

#upfooter {
    text-align: center;
    margin-bottom: 1em;
}

#upfooter h3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
    
}

#upfooter p {
    font-size: 1rem;
    font-style: italic;
}

#upfooter .box {
    display: inline-block;
    vertical-align: top;
    max-width: 22rem;
    text-align: left;
}

a.email {
    font-weight: 600;
    color: black;
    font-style: italic;
    margin-left: 1rem;
    font-size: 1.1rem;
}

#upfooter .box.bordered {
    border: 2px solid black;
}

#upfooter .box.bordered h3 {
    margin-left: 0;
    text-align: center;
}

.button-wrap {
    text-align: center;
    margin-bottom: calc(-1em - 2px);
}

#upfooter .box.bordered button {
    background-color: transparent;
    border: 2px solid black;
    padding: 0.6em 1.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 600;
}

#upfooter .box.bordered button:hover {
    color: white;
    background-color: #0C7670;
}

#footer hr {
    border: none;
    height: 2px;
    color: black;
    background-color: black;
}

#downfooter {
    text-align: center;
}

#downfooter #media {
    display: inline-block;
}

#downfooter p {
    display: inline-block;
    margin: 0.2em 1.5em;
    font-style: italic;
    font-weight: 500;
}

#downfooter #media p {
    font-style: normal;
    margin: 0.2em 0.5em;
}
